streamlit
python-dotenv
langchain>=0.2.2
langchain-community
huggingface_hub
sentence-transformers
chromadb>=0.4.0
torch
PyPDF2
protobuf<4.25  # Fixes compatibility with opentelemetry and chromadb
opentelemetry-exporter-otlp<1.23  # Ensure OTLP exporter works with protobuf
