streamlit
python-dotenv
langchain>=0.2.2
langchain-community
huggingface_hub
sentence-transformers
chromadb>=0.4.0
torch==2.2.2
PyPDF2
protobuf==5.26.1
opentelemetry-api==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-exporter-otlp==1.24.0
opentelemetry-proto==1.24.0
